GITHUB_TOKEN=your_github_pat_here
DEFAULT_GITHUB_ORG=optional_default_org
DEFAULT_GITHUB_PROJECT=1

# Filtering & Security
# ALLOWED_ORGS: Comma separated list of allowed organizations/users. If set, only these will be shown.
# EXCLUDED_ORGS: Comma separated list of organizations/users to hide.
ALLOWED_ORGS=tiagofrancafernandes,F2-Labs
EXCLUDED_ORGS=

# ALLOWED_PROJECTS: Comma separated list of project numbers or titles to show.
# EXCLUDED_PROJECTS: Comma separated list of project numbers or titles to hide.
ALLOWED_PROJECTS=
EXCLUDED_PROJECTS=

### Vue/Nuxt devtools editor (https://devtools.nuxt.com/guide/getting-started)
# LAUNCH_EDITOR="antigravity" ## for antigravity
# LAUNCH_EDITOR="cursor"    ## for Cursor
# LAUNCH_EDITOR="windsurf"  ## for Windsurf
# LAUNCH_EDITOR="code"      ## for VS Code
