GITHUB_TOKEN=your_github_pat_here
DEFAULT_GITHUB_ORG=optional_default_org
DEFAULT_GITHUB_PROJECT=optional_default_project_number

### Vue/Nuxt devtools editor (https://devtools.nuxt.com/guide/getting-started)
# LAUNCH_EDITOR="antigravity" ## for antigravity
# LAUNCH_EDITOR="cursor"    ## for Cursor
# LAUNCH_EDITOR="windsurf"  ## for Windsurf
# LAUNCH_EDITOR="code"      ## for VS Code
